<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkmPp8qd3JxqOq4tKb1hNGQnZl5_qrSyg</string>
	<key>GCM_SENDER_ID</key>
	<string>914076867847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieDatabase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movie-database-124f9</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-database-124f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914076867847:ios:7e894ff0b22f402c37f9a2</string>
</dict>
</plist>